# Introduction

The followig aims to get you up and running with the predict. Make a copy of the notebook and run all cells. We will also show you how to get your submission file from kaggle.

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

## Installing packages
Please download all relevant packages in. There is no terminal so you will pip install everything.

You can find a list of recommended install from the Intro to Recommender sysytem notebook.

In [1]:
# Install packages here
# Packages for data processing
import numpy as np
import pandas as pd
import datetime
from sklearn import preprocessing
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import re
from scipy.sparse import csr_matrix
import scipy as sp


# Packages for visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Packages for modeling
from surprise import Reader
from surprise import Dataset
from surprise import KNNWithMeans
from surprise import KNNBasic
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV
from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import SlopeOne
from surprise import CoClustering 
import heapq

# Packages for model evaluation
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from time import time

# Package to suppress warnings
import warnings
warnings.filterwarnings("ignore")

# Packages for saving models
import pickle

## Reading in data

In [2]:
df_sample_submission = pd.read_csv('edsa-movie-recommendation-challenge/sample_submission.csv')
df_movies = pd.read_csv('edsa-movie-recommendation-challenge/movies.csv')
df_imdb = pd.read_csv('edsa-movie-recommendation-challenge/imdb_data.csv')
df_genome_scores = pd.read_csv('edsa-movie-recommendation-challenge/genome_scores.csv')
df_genome_tags = pd.read_csv('edsa-movie-recommendation-challenge/genome_tags.csv')
df_train = pd.read_csv('edsa-movie-recommendation-challenge/train.csv')
df_test = pd.read_csv('edsa-movie-recommendation-challenge/test.csv')
df_tags = pd.read_csv('edsa-movie-recommendation-challenge/tags.csv')
df_links = pd.read_csv('edsa-movie-recommendation-challenge/links.csv')

In [5]:
pd.set_option("display.max.column", None)
print(df_sample_submission.info())
df_sample_submission.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000019 entries, 0 to 5000018
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      object
 1   rating  float64
dtypes: float64(1), object(1)
memory usage: 76.3+ MB
None

        Id  rating
0   1_2011     1.0
1   1_4144     1.0
2   1_5767     1.0
3   1_6711     1.0
4   1_7318     1.0
5   1_8405     1.0
6   1_8786     1.0
7    2_150     1.0
8    2_356     1.0
9    2_497     1.0
10   2_588     1.0
11   2_653     1.0
12  2_1080     1.0
13  2_1196     1.0
14  2_1198     1.0

In [25]:
print(df_movies.info())
df_movies.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB
None

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance

In [7]:
print(df_imdb.info())
df_imdb.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movieId        27278 non-null  int64
 1   title_cast     17210 non-null  object
 2   director       17404 non-null  object
 3   runtime        15189 non-null  float64
 4   budget         7906 non-null   object
 5   plot_keywords  16200 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 1.2+ MB
None

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry
3,4,Whitney Houston|Angela Bassett|Loretta Devine|...,Terry McMillan,124.0,"$16,000,000",black american|husband wife relationship|betra...
4,5,Steve Martin|Diane Keaton|Martin Short|Kimberl...,Albert Hackett,106.0,"$30,000,000",fatherhood|doberman|dog|mansion
5,6,Al Pacino|Robert De Niro|Val Kilmer|Jon Voight...,Michael Mann,170.0,"$60,000,000",gun battle|organized crime|honor|criminal inve...
6,7,Harrison Ford|Julia Ormond|Greg Kinnear|Nancy ...,Samuel A. Taylor,127.0,"$58,000,000",character name as title|chauffeur|estate|playboy
7,8,Jonathan Taylor Thomas|Brad Renfro|Eric Schwei...,Mark Twain,97.0,NaN,rescue from drowning|near drowning|character n...
8,9,Jean-Claude Van Damme|Powers Boothe|Raymond J....,Karen Elise Baldwin,111.0,"$35,000,000",hockey|death in title|two word title|terrorist
9,10,Pierce Brosnan|Sean Bean|Izabella Scorupco|Fam...,Ian Fleming,130.0,"$60,000,000",official james bond series|james bond characte...
10,11,Michael Douglas|Annette Bening|Martin Sheen|Mi...,Aaron Sorkin,114.0,"$62,000,000",reference to franklin d. roosevelt|reference t...
11,12,Leslie Nielsen|Peter MacNicol|Steven Weber|Amy...,Mel Brooks,88.0,"$30,000,000",dracula|vampire|19th century|insane asylum
12,13,Kevin Bacon|Bob Hoskins|Bridget Fonda|Jim Cumm...,Cliff Ruby,78.0,NaN,dog|nome alaska|alaska|children
13,14,Anthony Hopkins|Joan Allen|Powers Boothe|Ed Ha...,Oliver Stone,192.0,"$44,000,000",american president|american politics|paranoia|...
14,15,Geena Davis|Matthew Modine|Frank Langella|Maur...,Michael Frost Beckner,124.0,"$98,000,000",treasure|pirate|treasure map|pirate ship

In [8]:
print(df_genome_scores.info())
df_genome_scores.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15584448 entries, 0 to 15584447
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 356.7 MB
None

    movieId  tagId  relevance
0         1      1    0.02875
1         1      2    0.02375
2         1      3    0.06250
3         1      4    0.07575
4         1      5    0.14075
5         1      6    0.14675
6         1      7    0.06350
7         1      8    0.20375
8         1      9    0.20200
9         1     10    0.03075
10        1     11    0.58025
11        1     12    0.10250
12        1     13    0.20175
13        1     14    0.00700
14        1     15    0.02450

In [9]:
print(df_genome_tags.info())
df_genome_tags.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tagId   1128 non-null   int64
 1   tag     1128 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.8+ KB
None

    tagId           tag
0       1           007
1       2  007 (series)
2       3  18th century
3       4         1920s
4       5         1930s
5       6         1950s
6       7         1960s
7       8         1970s
8       9         1980s
9      10  19th century
10     11            3d
11     12          70mm
12     13           80s
13     14          9/11
14     15       aardman

In [33]:
print(df_train.info())
df_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000038 entries, 0 to 10000037
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 305.2 MB
None

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539
3  106362    32296     2.0  1423042565
4    9041      366     3.0   833375837

In [11]:
print(df_test.info())
df_test.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000019 entries, 0 to 5000018
Data columns (total 2 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
dtypes: int64(2)
memory usage: 76.3 MB
None

    userId  movieId
0        1     2011
1        1     4144
2        1     5767
3        1     6711
4        1     7318
5        1     8405
6        1     8786
7        2      150
8        2      356
9        2      497
10       2      588
11       2      653
12       2     1080
13       2     1196
14       2     1198

In [13]:
print(df_tags.info())
df_tags.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1093360 entries, 0 to 1093359
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1093360 non-null  int64
 1   movieId    1093360 non-null  int64
 2   tag        1093344 non-null  object
 3   timestamp  1093360 non-null  int64
dtypes: int64(3), object(1)
memory usage: 33.4+ MB
None

    userId  movieId                      tag   timestamp
0        3      260                  classic  1439472355
1        3      260                   sci-fi  1439472256
2        4     1732              dark comedy  1573943598
3        4     1732           great dialogue  1573943604
4        4     7569         so bad it's good  1573943455
5        4    44665     unreliable narrators  1573943619
6        4   115569                    tense  1573943077
7        4   115713  artificial intelligence  1573942979
8        4   115713            philosophical  1573943033
9        4   115713                    tense  1573943042
10       4   148426         so bad it's good  1573942965
11       4   164909                   cliche  1573943721
12       4   164909                  musical  1573943714
13       4   168250                   horror  1573945163
14       4   168250            unpredictable  1573945171

In [20]:
print(df_links.info())
df_links.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   imdbId   62423 non-null  int64
 2   tmdbId   62316 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.4 MB
None

    movieId  imdbId   tmdbId
0         1  114709    862.0
1         2  113497   8844.0
2         3  113228  15602.0
3         4  114885  31357.0
4         5  113041  11862.0
5         6  113277    949.0
6         7  114319  11860.0
7         8  112302  45325.0
8         9  114576   9091.0
9        10  113189    710.0
10       11  112346   9087.0
11       12  112896  12110.0
12       13  112453  21032.0
13       14  113987  10858.0
14       15  112760   1408.0

## EDA
Discovery phase and data understanding

**Most common Genres**

In [ ]:
# Create dataframe containing only the movieId and genres
movies_genres = pd.DataFrame(df_movies[['movieId', 'genres']],
                             columns=['movieId', 'genres'])

# Split genres seperated by "|" and create a list containing the genres allocated to each movie
movies_genres.genres = movies_genres.genres.apply(lambda x: x.split('|'))

# Create expanded dataframe where each movie-genre combination is in a seperate row
movies_genres = pd.DataFrame([(tup.movieId, d) for tup in movies_genres.itertuples() for d in tup.genres],
                             columns=['movieId', 'genres'])

movies_genres.head()

In [ ]:
# Plot the genres from most common to least common
plot = plt.figure(figsize=(15, 10))
plt.title('Most common genres\n', fontsize=20)
sns.countplot(y="genres", data=movies_genres,
              order=movies_genres['genres'].value_counts(ascending=False).index,
              palette='Reds_r')
plt.show()

## Data Prepartion

In [ ]:
## Here you will sort your data out and process it accordingly

## Modelling phase

Here you can apply the models outline in the Intro to Recommender Notebook. You only need to apply one version 
be it Content based or Collabrative method

In [ ]:
# Apply your modelling here

# Generate your outputs here

Prepare Submission File
We make submissions in CSV files. Your submissions usually have two columns: an ID column and a prediction column. The ID field comes from the test data (keeping whatever name the ID field had in that data, which for the data is the string 'Id'). The prediction column will use the name of the target field.

We will create a DataFrame with this data, and then use the dataframe's to_csv method to write our submission file. Explicitly include the argument index=False to prevent pandas from adding another column in our csv file.

In [ ]:
# This is an example
## my_submission = pd.DataFrame({'id': test.Id, 'rating': test.ratings})
# you could use any filename. We choose submission here
## my_submission.to_csv('submission.csv', index=False)


### Make Submission
Hit the blue Publish button at the top of your notebook screen. It will take some time for your kernel to run. When it has finished your navigation bar at the top of the screen will have a tab for Output. This only shows up if you have written an output file (like we did in the Prepare Submission File step).

Example below of how the output would look once published

In [ ]:
# initialize list of lists
data = [['tom', 10], ['nick', 15], ['juli', 14]]
  
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['Name', 'Age'])
  
# print dataframe.
df

In [ ]:
df.to_csv('my_test_output.csv', index = False)